#total{
align-items:center;
text-align:center;

}
body{
    background-color:red;
    
}
#boxy{
background-color:black;
color:white;
    margin-top:20px;
}
h1{
    font-size:75px;
}
marquee{
color:whitesmoke;
font-size:30px;

}
img{
    visibility:hidden;
}


